
#OPCION ul{
  list-style-type: none;
  text-align: center;
}
#OPCION li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
body {
  background-image: url(images/fondocontacto_700.jpg);
  background-repeat: repeat-y;
}
#wrapper {
  background:url('hogar.jpg');
  width="300" height="150"
}
#button {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
  width="300" height="150"
}