*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'calibri';
    background:#072446;
    margin: auto;
    
}
header {
    /*background:url(/img/Colorcard-hex_071746-www.colorbook.io.png);*/
    /*background: #0a2f58;*/
    background: url(/Contacto//img/nebulosa-de-colores-de-fondo-papel-pintado-3840x1080-14124_75.jpg);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
   
}

section{
    min-width: 800px;
    margin: auto;
    padding: 5px 0;
}
/*Logo */
section h1{
    font-size: 40px;
    padding: 5px 0;

}
/*
section img{
    border-radius: 20px;
    width: 70px;
    height: 70px;
}*/
.conte{
    text-align: center;
}
/*Parte de los botones inicio, catalogo y contacto**/
.conte p{
    font-size: 80px;
    font-weight: bold;
    margin: 50px 0px;
}
/**Barra de menu: inicio, catalogo, contacto **/
.conte a{
    color: white;
    text-decoration: none;
    background: #04aed9;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 19px;
    margin: 20px;
}

/** Parte de los iconos de WhatsApp**/
.container-redes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a{
    margin-top: 1px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
    border-radius: 100%;
    transition: all 300ms;
}
.container-redes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a{
    margin-top: 4px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
   /** background: rgba(0,0,0,0.0);**/
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}
#contenido{
    width: 220px;
    height: 510px;
    float:left;
    background-color: #072446;
    margin-top: 10px;
    margin-right: 10px;
}

iframe{
    width: 779px;
    height: 494px;
    margin-left:40px;
    float: left;
}
aside{ /*Color de las letras*/
    width: 530px;
    height: 500px;
    background:#072446;
    margin-top: 10px;
    float: right;
    color:black;
}
aside p{ 
    font-size: 20px;
    text-align: left;
    line-height: 2;
    color:white; /** Colores de las letras en el apartado de formulario**/
    margin-top: 5px;
    margin-left: 40px;
}
/*Caja donde esta el mapa */


footer{ /**Apatado de la direccón **/
    background: #072446;
    clear: both;
    color:white;
    margin-top: 6px;
    margin-left: 40px;
    margin-right: 40px;
}
/** Apartado de dirección, modifica el tamaño de letra del titulo **/
footer h1{
    font-size: 26px;
    text-align: left;
    margin-left: 5px;
}
footer h2{
    font-size: 26px;
    margin-top: 10px;
    text-align: left;
    margin-left: 5px;

}
.dir{
    font-size: 21px;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
}
footer p{
    font-size: 21px;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
}
footer a{
    font-size: 21px;
    color: rgb(42, 162, 231);
    margin-top: 10px;
    margin-left: 5px;
}