*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #252940;
    color:white;
}
/** La caja donde se contiene todo**/
#contenedor{
    width: 960px;
    margin: auto;
    margin-top:10px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: #252940;
}

header{ /** Apartado donde se encuentra el titulo de contacto**/
    height: 150px;
    width: 960px;
    background: #5B6F94;
}
header h1{
    font-size: 50px;;
    text-align: center;
    line-height: 150px;
    color: white;
    background: #252940;
}
/**Barra de navegación **/
nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    background: white;
}
/**Caja donde esta el mapa**/
#contenido{
    width: 590px;
    height: 420 px;
    float:left;
    background-color: #252940;
    margin-top: 10px;
    margin-right: 10px;
}
/** Parte del formulario**/
aside{ /*Color de las letras*/
    width: 360px;
    height: 500px;
    background:#252940;
    margin-top: 10px;
    float: right;
}
aside p{ 
    font-size: 20px;
    text-align: left;
    line-height: 1;
    color: rgb(255, 255, 255); /** Colores de las letras en el apartado de formulario**/
    margin-top: 10px;
    margin-left: 20px;
}

.boton{
    color:black;
}

footer{ /**Apatado de la direccón **/
    background:#252940;
    clear: both;
    color:white;
    margin-top: 6px;
}
/** Apartado de dirección, modifica el tamaño de letra del titulo **/
footer h2{
    font-size: 35px;
    text-align: left;
    padding: 20px;
    font-style: italic;
    margin-top: 4px;
    margin-bottom: 0.5px;
}
/** Complemento del anterior, da el formato de la dirección**/
.dir{
    font-size: 20px;
    margin-left: 30px;
    text-align: 4px;
    margin-top: 1px;
}
/** Parte de los iconos de WhatsApp**/
.container-redes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a{
    margin-top: 1px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
    border-radius: 100%;
    transition: all 300ms;
}
.container-redes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a{
    margin-top: 4px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
   /** background: rgba(0,0,0,0.0);**/
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}