*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #444;
    color:white;
}
#contenedor{
    width: 960px;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
header{
    height: 150px;
    background: #022B58 ;
}
header h1{
    font-size: 50px;;
    text-align: center;
    line-height: 150px;
    color: white
}

nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}
#contenido{
    width: 600px;
    height: 500px;
    float: left;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#contenido h4{
    color: black;
    font-size: 16px;
    text-align: left;
}
#contenido p{
    font-size: 16px;
	line-height: 1.35;
    color:black;
    text-align: left;
}
#contenido a{
    color: blue;
    font-size: 16px;
    text-align: left;
    float: left;
}
aside{
    width: 350px;
    height: 500px;
    background: white;
    margin-top: 10px;
    float: right;
}
aside p{
    font-size: 20px;
    text-align: left;
    line-height: 1;
    color:black;
}
.caja{
    color:black;
    text-align: 2;
}
footer{
    background: black;
    clear: both;
}
footer h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
.boton{
    color:black;
}
.container-redes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a{
    margin-top: 4px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
    background: rgba(0,0,0,0.0);
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}


