/* PARTE GENERAL DE LA PAGINA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'calibri';
    background: #072446;
    margin: auto;
}

/* ENCABEZADO */

header {
    background: url(/Contacto/img/a70dbb99-991d-4941-b253-dab058386245.jfif);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
}

.conte {
    text-align: center;
}

/* TAMAÑO DE LA LETRA DE CONTACTO, ASI COMO EL MARGEN SEPARADO DE LA BARRA DE NAVEAGCIÓN*/

.conte p {
    font-size: 90px;
    font-weight: bold;
    margin: 40px 0px;
    text-shadow: 3px 3px 1px black, 5px 5px 2px black, 8px 8px 3px black;
}

/* BARRA DE NAVEGACIÓN */

.conte a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    background: #04aed9;
    padding: 8px 20px;
    border-radius: 30px;
    margin: 20px;
}

/*                       FIN DEL ENCABEZADO                     */

/** Parte de los iconos de WhatsApp**/

.container-redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-redes a {
    margin-top: 1px;
}

.container-redes img {
    width: 60px;
    padding: 4px;
    border-radius: 100%;
    transition: all 300ms;
}

.container-redes {
    position: fixed;
    bottom: 80px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Relacionado con el Mapa y la caja que lo contiene*/

section {
    min-width: 800px;
    margin: auto;
    padding: 5px 0;
}

#contenido {
    width: 220px;
    height: 500px;
    float: left;
    background-color: #072446;
    margin-top: 15px;
    margin-left: 30px;
}

iframe {
    width: 779px;
    height: 480px;
    margin-left: 10px;
}

/*Todolo lo relacionado con el formulario */

aside {
    /*Color de las letras*/
    width: 430px;
    height: 570px;
    margin-right: 85px;
    margin-top: 15px;
    float: right;
    color: black;
    background: #072446;
}

aside h2 {
    font-size: 36px;
    color: white;
    margin-left: 40px;
    margin-top: 15px;
}

input[type=text], [type=text] {
    width: 300px;
    height: 35px;
    font: 14px normal normal;
    margin-top: 10px;
    margin-left: 40px;
}

textarea {
    width: 300px;
    height: 110px;
    font: 14px normal normal;
    margin-left: 40px;
    margin-top: 20px
}

.boton {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background-color: #32A43E;
    margin-top: 20px;
    margin-left: 40px;
}

label {
    margin: 11px 20px 0px 0 0;
    font-size: 16px;
    color: #b3aba1;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    margin-top: 20px;
    margin-left: 40px;
}

.fecha {
    width: 300px;
    height: 30px;
    font: 14px normal normal;
    margin-left: 40px;
    margin: 11px 20px 0px 0 0;
    font-size: 16px;
    color: #b3aba1;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
}

footer {
    /**Apatado de la direccón **/
    position: fixed;
    bottom: 0;
    height: 83px;
    left: 0;
    width: 100%;
    background: #072446;
    margin-left: 40px;
    margin-right: 40px;
}

/** Apartado de dirección, modifica el tamaño de letra del titulo **/

footer h1 {
    font-size: 24px;
    text-align: left;
    margin-left: 1px;
}

footer h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 5px;
}

/*Dirección Calle Lazaro Cárdenas*/

.dir {
    font-size: 16px;
    text-align: left;
    margin-left: 5px;
}

/*Nombres de los Tapiceros como Eduardo, Jesus etc*/

footer p {
    font-size: 21px;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
}

/*Enlaces de los números*/

footer a {
    font-size: 21px;
    color: rgb(42, 162, 231);
    margin-top: 5px;
    margin-left: 5px;
}

/* VENTANA MODAL */

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity: 1;
    pointer-events: auto;
}

.modalbox {
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.movedown {
    margin: 0 auto;
}

.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5, -5);
    transform: scale(-5, -5);
}

.resize {
    margin: 10% auto;
    width: 0;
    height: 0;
}

.modalmask:target .movedown {
    margin: 10% auto;
    color: black;
}

.modalmask:target .rotate {
    transform: rotate(360deg) scale(1, 1);
    -webkit-transform: rotate(360deg) scale(1, 1);
}

.modalmask:target .resize {
    width: 400px;
    height: 200px;
}