
*{
	margin: o;
	padding:0;
	box-sizing: border-box;
}

body{
	background: #072446;
	font-family: sans-serif;
}

.contenedor{
	width: 90%;
	max-width: 900px;
	margin: auto;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.tabla1{
	background: url(img/asientos/fondo1.jpg);
	align-items: center;
    background-repeat: no-repeat;
	width: 33%;
	height: 550px;
	margin: auto;
	border: 1px solid #343759;
	border-radius: 4px;
	box-shadow: 0px 0px 4px 0px #343759;
    padding: 250px 60px;
	text-align: center;
	
    flex-grow:1;
	columns: #343759;
}
.tabla1>a{
	
	text-align: center;
	font-size:60px;
	margin-bottom: 30px;
	top:30%;
	bottom:30%;
	width:50%;
	text-decoration: none;
	color: white;
	
}

.tabla1:hover{
	background: #343759;
	color:#f1f1f2;
	transition: 0.2 all;
	transforms:scale(1.1);
	cursor: pointer;
	background:linear-gradient(#7c6cb9,#081c3c);
	
}


.tabla2{
	background: url(img/hogar/fondo1.jpeg);
	align-items: center;
    background-repeat: no-repeat;
	width: 33%;
	height: 550px;
	margin: auto;
	border: 1px solid #343759;
	border-radius: 4px;
	box-shadow: 0px 0px 4px 0px #343759;
    padding:250px 60px;
    text-align: center;
    flex-grow:1;
	columns: #343759;
}

.tabla2>a{
	text-align: center;
	font-size:60px;
	margin-bottom: 30px;
	top:30%;
	bottom:30%;
	width:50%;
	text-decoration: none;
	color:black;
	
}


.tabla2:hover{
	background: #343759;
	color:#f1f1f2;
	transition: 0.2 all;
	transforms:scale(1.1);
	cursor: pointer;
	background:linear-gradient(#7c6cb9,#081c3c);
	
}
.tabla3{
	background: url(img/otros/fondo1.jpg);
	align-items: center;
    background-repeat: no-repeat;
	width: 33%;
	height: 550px;
	margin: auto;
	border: 1px solid #343759;
	border-radius: 4px;
	box-shadow: 0px 0px 4px 0px #343759;
    padding:250px 60px;
    text-align: center;
    flex-grow:1;
	columns: #343759;
}

.tabla3>a{
	text-align: center;
	font-size:60px;
	margin-bottom: 30px;
	top:30%;
	bottom:30%;
	width:50%;
	text-decoration: none;
	color: white;
	
}




.tabla3:hover{
	background: #343759;
	color:#f1f1f2;
	transition: 0.2 all;
	transforms:scale(1.1);
	cursor: pointer;
	background:linear-gradient(#7c6cb9,#081c3c);
	
}

section{
	width:100%
	margin-bottom:25px;
}